<!DOCTYPE html>
{% load static %}
{% load rest_framework %}

<html lang="en" >
<head>

  <title>{% block title %} {% endblock %}</title>
  <link rel="stylesheet" href="{% static "bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "main.css" %}">
  
</head>
<body class="" data-gr-c-s-loaded="true">

<button type="button" class="btn btn-outline-primary" href="/django-rest-allauth/">Вход</button>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Просто магазин</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{%url 'shops' %}">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Категория</a>
        <div class="dropdown-menu">
          {% for q in category %}
          <a class="dropdown-item" href="#">
              <ul>
                  
                  <li>{{ q }}</li>
                  
              </ul>
              {% endfor %}
              </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<br>
<div class="container">{% block content %}{% endblock %}</div>

<hr>
<footer class="container">
  <p>© Просто магазин 2018</p>
</footer>

<script src="{% static "jquery-3.3.1.slim.min.js" %}"></script>
<script src="{% static "popper.min.js" %}"></script>
<script src="{% static "bootstrap.min.js" %}"></script> 

</body>
</html>